<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="addUser">
		<table>
			<tr>
				<td>
				姓名：<input type="text" name="name">
				</td>
			</tr>
			<tr>
				<td>
				年龄：<input type="text" name="age">
				</td>
			</tr>
			<tr>
				<td>
				密码：<input type="password" name="password">
				</td>
			</tr>
			<tr>
				<td>
				地址：<input type="text" name="address">
				</td>
			</tr>
			<tr>
				<td>
				<input type="submit" value="提交">
				</td>
				
			</tr>
		</table>
	</form>
</body>
</html>